#content {
	width: 350px;
	height: 350px;
	border: 2px solid black;
	box-shadow: 5px 5px 5px;
}
ul {
	list-style-type: none;
	margin-left: 1.25em;
	margin-bottom: 1.5em
}
ul li {
	width: 200px;
	margin-bottom: 0.5em;
	border: 2px solid blue;
}
ul li a {
	display: block;
	padding: 0.5em 0.5em 1.5em;
	text-decoration: : none;
	font-weight: bold;
	color: blue;
}
ul li a.current {
	background-color: silver;
}
